.postCard {
    font-size: 1.2rem;
    width: 26rem;
    border-radius: 2rem;
    padding: 2rem;
}

.postCard .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 85%;
    width: 100%;
}

.postCard .container {
    height: 15rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .postCard {
        width: 21rem;
        font-size: 1rem;
    }
}
