@font-face {
    font-family: 'code-pro';
    font-weight: normal;
    src: url("Code Pro LC.otf") format('opentype');
}

@font-face {
    font-family: 'code-pro';
    font-weight: bold;
    src: url("Code Pro Bold LC.otf") format('opentype');
}